// *----------------------------------*\
//  Objects > Grid
// *----------------------------------*/

.container {
  @screen xs {
    max-width: 100%;
  }

  @screen sm {
    max-width: 100%;
  }

  @screen md {
    max-width: 100%;
  }

  @screen xl {
    max-width: 1170px;
  }
}
