// *----------------------------------*\
//  Objects > Half background
// *----------------------------------*/

.o-bg-half {
  &::after {
    content: '';
    height: 50%;    
    @apply w-full absolute pin-t pin-l z-10;
  }

  &--slgray {
    &::after {
      @apply bg-slgray;
    }
  }
}
