// *----------------------------------*\
//  Objects > Overlay
// *----------------------------------*/

.o-overlay {
  &::after {
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
  }
}
