// *----------------------------------*\
//  Settings > Colors
// *----------------------------------*/

$pdgray: #5F6062;
$plgray: #B4B6B8;
$porange: #F5A231;

$black: #000000;
$white: #ffffff;
$red: #ff0000;
