// *----------------------------------*\
//  Components > Accordion
// *----------------------------------*/

.c-accordion {
  $self: &;

  &__item {
    &:not(:last-child) {
      margin-bottom: 30px;

      @screen md {
        margin-bottom: 55px;
      }
    }
  }

  &__header {
    &.js-active {
      #{ $self }__icon {
        &::after {
          transform: scaleY(0);
        }
      }
    }
  }

  &__icon {
    width: 15px;
    height: 15px;
    margin-right: 15px;
    @apply relative;

    @screen xs {
      width: 25px;
      height: 25px;
      margin-right: 25px;
    }

    &::before,
    &::after {
      content: '';
      display: inline-block;
      top: 50%;
      left: 50%;
      transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
      @apply absolute bg-porange;
    }

    &::before {
      height: 2px;
      width: 16px;
      margin-left: -8px;
      margin-top: -1px;

      @screen xs {
        height: 3px;
        width: 24px;
        margin-left: -12px;
        margin-top: -1.5px;
      }
    }

    &::after {
      height: 16px;
      width: 2px;
      margin-top: -8px;
      margin-left: -1px;

      @screen xs {
        height: 24px;
        width: 3px;
        margin-top: -12px;
        margin-left: -1.5px;
      }
    }
  }

  &__body {
    @apply hidden;
  }

  &__texts {
    padding-left: 30px;

    @screen xs {
      padding-left: 50px;
    }
  }
}
