// *----------------------------------*\
//  Components > Article
// *----------------------------------*/

.c-article {
  padding: 60px 0 30px;

  @screen md {
    padding: 130px 0;
  }

  &__meta {
    &__date {
      min-height: 90px;
      width: 90px;

      &--day {
        @apply text-2xl3;

        @screen md {
          font-size: 43px;
        }
      }
    }
  }

  &__body {
    h2 {
      @apply text-xl font-bold mb-5;
    }

    p {
      @apply mb-15;
    }

    ul,
    ol {
      margin-bottom: 15px;
    }

    ul {
      padding-left: 17px;
    }

    ol {
      padding-left: 15px;
    }

    img {
      @apply block ml-auto mr-auto mt-20 mb-25;
    }
  }

  &__tags {

    ul {
      @apply flex flex-col;
    }

    li {
      @apply mb-5;
    }

    a {
      @apply text-pdgray inline-block bg-slgray px-10 py-5 leading-tight;

      &:hover {
        @screen md {
          @apply bg-pdgray text-white;
        }
      }
    }
  }
}
