// *----------------------------------*\
//  Components > Banner
// *----------------------------------*/

.c-banner {
  &__content {
    &--wicon {
      @apply flex items-center;
    }

    &__icon {
      padding-right: 15px;

      @screen md {
        padding-right: 25px;
      }

      img {
        width: 60px;

        @screen md {
          width: 130px;
        }
      }
    }

    &__text {
      &--small {
        @apply text-2xl3;
        
        @screen md {
          font-size: 65px; 
        }
      }
    }
  }
}
