// *----------------------------------*\
//  Components > Buttons
// *----------------------------------*/

$porange: #F5A231;
$white: #ffffff;

.c-btn {
  transition: 0.2s ease-in-out;

  &--wsm {
    width: 145px;
  }

  &--hsm {
    line-height:px; 
  }

  &--welg {
    width: 700px;
  }

  &--wlg {
    width: 600px;
  }

  &--wsm {
    width: 500px;
  }

  &--wxsm {
    width: 280px;
    
    @screen md {
      width: 360px;
    }
  }

  &--wxs {
    width: 145px;
  }

  &--wshadow {
    &--orange {
      box-shadow: inset 0 0 0 3px $porange;
    }

    &--white {
      box-shadow: inset 0 0 0 3px $white;
    }
  }

  &--hlg {
    height: 60px;
    line-height: 60px;

    @screen md {
      height: 75px;
      line-height: 75px;
    }

    &--auto {
      min-height: 60px;
      height: inherit;
      @apply leading-normal;
      padding: 10px;
      @apply flex justify-center items-center;

      @screen md {
        height: 75px;
        line-height: 75px;
        padding: 0;
      }
    }
  }

  &--hsm {
    height: 60px;
    line-height: 60px;
  }

  &--hxs {
    height: 45px;
    line-height: 45px;
  }
}
