// *----------------------------------*\
//  Components > Career Announcement
// *----------------------------------*/

.c-career-announce {
  margin-bottom: 60px;

  @screen md {
    margin-bottom: 130px;
  }

  &__content {
    padding: 60px 20px;

    @screen xs {
      padding: 60px 40px;
    }

    @screen md {
      padding: 80px 60px;
    }

    @screen xl {
      padding: 80px 135px;
    }
  }

  &__title {
    @apply text-2xl;
    
    @screen md {
      font-size: 42px;
    }
  }

  &__position {
    &__list {
      ul {
        li {
          margin-bottom: 9px;
          padding: 0 20px;
          line-height: 1.4;

          @screen xs {
            padding: 0 10px;
            line-height: 1;
          }

          &:not(:last-child) {
            @screen xs {
              @apply border-r border-white;
            }
          }
        }
      }
    }
  }
}
