// *----------------------------------*\
//  Components > Contact Form
// *----------------------------------*/

.c-cform {
  margin-bottom: 60px;
  
  @screen md {
    margin-bottom: 130px;
  }

  &::after {
    content: '';
    height: 30px;
    @apply w-full bg-white absolute pin-l pin-b z-10;
  }
}
