// *----------------------------------*\
//  Components > Contact Map
// *----------------------------------*/

.c-cmap {
  $self: &;
  padding: 60px 0;

  @screen md {
    padding-top: 120px;
    padding-bottom: 130px;
  }

  &__row {
    @screen md {
      height: 490px;
    }
  }

  &__map {
    min-height: 350px;
  }

  &__places {
    &__list {
      order: -1;

      @screen md {
        order: 1;
      }
    }
  }

  &__place {
    color: #b6b8ba;

    @screen xs {
      min-height: 180px;
    }

    @screen md {
      min-height: 110px;
      width: 360px !important;
    }

    &.js-map-active {
      @apply bg-porange text-white;

      @screen md {
        @apply flex-1;
      }

      #{ $self }__place__content {
        opacity: 1;
        visibility: visible;
        max-height: 200px;
        transform: translateY(0);
        transition-delay: 0.2s;
      }
    }

    &:not(:last-child) {
      @screen md {
        @apply mb-25;
      }
    }

    &__name {
      transition: all 0.2s ease-in;
    }

    &__content {
      line-height: 1.3;
      opacity: 0;
      visibility: hidden;
      max-height: 0;
      position: relative;
      transform: translateY(10px);
      transition: all 0.2s ease-in;
    }

    &__address {
      @apply mt-10;
    }

    &__phone {
      @apply mt-10;

      @screen md {
        @apply mt-20;
      }
    }
  }
}
