// *----------------------------------*\
//  Components > Culture Slider
// *----------------------------------*/

.c-culture {
  &__islider {
    padding: 80px 0;
    
    @screen md {
      padding: 125px 0;
    }
  }

  &__slider {
    height: 270px;
  }

  &__slide {
    height: 270px;

    .c-vslider__para {
      padding: 0 30px;
      @apply text-xl text-left;

      @screen md {
        padding: 0 70px;
        @apply text-2xl text-left;
      }

      @screen xl {
        padding: 0 180px;
      }

      &--big {
        @apply font-semibold leading-none text-2xl2;
        
        @screen md {
          font-size: 50px;
        }
      }
    }
  }
}
