// *----------------------------------*\
//  Components > Form Elements
// *----------------------------------*/

.c-form {
  &__input {
    @apply text-lg text-pdgray px-15 py-10;
    height: 45px;

    @screen md {
      height: 70px;
      @apply text-xl p-20;
    }

    &--select {
      @apply bg-no-repeat;
      background-image: url(../images/icon-arrow-down.svg);
      background-position: right 20px top 50%;
      padding-right: 45px;
      background-size: 15px 10px;

      @screen md {
        padding-right: 65px;
        background-size: 25px 15px;
      }
    }

    &--textarea {
      height: 150px;

      @screen md {
        height: 230px;
      }
    }
  }
}
