// *----------------------------------*\
//  Components > Hamburger
// *----------------------------------*/

.c-hamburger {
  $self: &;

  &:focus {
    @apply outline-none;
  }

  &.js-active {
    #{ $self }__lines {
      span {
        &:nth-child(1) {
          top: 9px;
          transform: rotate(135deg);
        }

        &:nth-child(2) {
          opacity: 0;
          left: 30px;
        }

        &:nth-child(3) {
          top: 9px;
          transform: rotate(-135deg);
        }
      }
    }
  }

  &__lines {
    position: relative;
    width: 30px;
    height: 22px;

    span {
      height: 3px;
      transform: rotate(0deg);
      @apply absolute bg-white opacity-100 block w-full pin-l;
      @include transition;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 9px;
      }

      &:nth-child(3) {
        top: 18px;
      }
    }
  }
}
