// *----------------------------------*\
//  Components > Headings
// *----------------------------------*/

.c-heading {
  @apply leading-none tracking-tight font-semibold;

  &--medium {
    @apply text-2xl3;

    @screen md {
      @apply text-3xl; 
    }
  }

  &--small {
    @apply text-2xl;

    @screen md {
      @apply text-2xl4;
    }
  }
}
