// *----------------------------------*\
//  Components > Header
// *----------------------------------*/

.c-header {
  $self: &;

  &__content {
    transition: all 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    @apply px-15;
    height: 80px;

    @screen md {
      height: 120px;
    }

    @include min-screen($xl) {
      padding-left: 115px;
      padding-right: 115px;
      height: 170px;
    }

    &.js-active {
      @include max-screen($mb) {
        @apply bg-pdgray;
      }
    }

    &.js-stick {
      @include max-screen($mb) {
        #{ $self } {
          &__nav {
            top: 60px;
            height: calc(100% - 60px);
          }
        }
      }
    }

    &.js-stick {
      background-color: #5f6062;
      height: 60px;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.4);

      @screen md {
        height: 90px;
      }

      @include min-screen($xl) {
        height: 120px;
      }

      .c-main-nav__submenu {
        @apply bg-pdgray;
      }
    }
  }

  &__logo {
    width: 120px;

    @screen md {
      width: 140px;
    }

    @screen xl {
      width: 160px;
    }
  }

  &__nav {
    @screen md {
      display: block !important;
    }

    @include max-screen($mb) {
      top: 80px;
      height: calc(100% - 80px);

      @apply fixed pin-l pin-r bg-pdgray overflow-y-auto;
    }
  }
}
