// *----------------------------------*\
//  Components > Home Partners
// *----------------------------------*/

.c-hpartners {
  padding: 0 0 60px 0;

  @screen md {
    padding: 125px 0;
  }

  &__list {
    ul {
      @apply flex flex-wrap items-center justify-center;

      @screen xs {
        @apply flex-no-wrap;
      }

      @include screen($md, $lg) {
        margin: 0 -15px;
      }

      @include min-screen($xl) {
        margin: 0 -56px;
      }

      li {
        width: 50%;

        @include screen($md, $lg) {
          width: 25%;
        }

        &:not(:last-child) {
          @screen xs {
            @apply border-r-2 border-slgary;
          }
        }
      }
    }
  }

  &__logo {
    height: 120px;
    @apply flex items-center justify-center px-15;

    @include min-screen($xl) {
      padding: 0 56px;
    }
  }
}
