// *----------------------------------*\
//  Components > Instagram Feed
// *----------------------------------*/

.c-resolife {
  &__feed {
    &__img {
      padding-bottom: 100%;
      filter: grayscale(100%);
      transition: all 0.3s ease-in-out;

      &:hover {
        filter: grayscale(0)
      }
    }
  }
}
