// *----------------------------------*\
//  Components > Intro
// *----------------------------------*/

.c-intro {
  $self: &;

  &__content {
    padding: 60px 0;

    @screen md {
      padding: 120px 0;
    }

    &--small {
      @screen md {
        padding: 90px 0;
      }
    }

    p {
      &:not(:last-of-type) {
        margin-bottom: 10px;
      }
    }
  }

  &--small {
    #{ $self } {
      &__content {
        max-width: 700px;
        padding: 60px 0;

        @screen md {
          padding: 70px 0;
        }
      }
    }
  }
}
