// *----------------------------------*\
//  Components > Main Navigation
// *----------------------------------*/

.c-main-nav {
  $self: &;

  &__submenu {
    @apply hidden;

    @screen md {
      display: block !important;
    }
  }

  &__item {
    @screen md {
      width: 95px;
      margin: 0 5px;
    }

    @screen xl {
      width: 120px;
      margin: 0 10px;
    }

    &:last-child {
      margin-right: 0;
    }

    &::before {
      @screen md {
        content: '';
        @apply absolute pin-l w-full;
        top: 100%;
        height: 30px;
        opacity: 0;
        visibility: hidden;
      }
    }

    &::after {
      @screen md {
        content: '';
        @apply absolute pin-l w-full bg-white;
        height: 3px;
        top: calc(100% + 11px);
        transform: scaleX(0);
        @include transition;
      }
    }

    &--active {
      &::after {
        @screen md {
          transform: scaleX(1);
        }
      }
    }

    &:hover {
      @screen md {
        &::before {
          opacity: 1;
          visibility: visible;
        }

        &::after {
          transform: scaleX(1);
        }

        #{ $self }__submenu {
          opacity: 1;
          visibility: visible;
          transform: translateX(-50%) translateY(25px);
        }
      }
    }
  }

  &__link {
    order: -1;
    flex: 1;
  }

  &__submenu {
    width: 100%;

    @screen md {
      width: calc(100% + 30px);
      left: 50%;
      transform: translateX(-50%) translateY(35px);
      top: 100%;
      opacity: 0;
      visibility: hidden;
      @include transition;
    }

    &__toggle {
      width: 50px;

      svg {
        transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
      }

      &.js-active {
        svg {
          transform: rotate(-180deg);
        }
      }
    }

    li {
      @screen md {
        margin-bottom: 20px;
      }
    }
  }
}
