// *----------------------------------*\
//  Components > Methodology
// *----------------------------------*/

.c-methodology {
  padding-top: 60px;

  @screen md {
    padding-top: 120px;
  }

  &__ititle {
    @apply text-2xl2;

    @screen md {
      font-size: 34px; 
    }
  }

  &__icon {
    padding-top: 65px;

    &__items {
      
    }

    &__img {
      height: 105px;
    }
  }
}
