// *----------------------------------*\
//  Components > Method
// *----------------------------------*/

.c-method {
  $self: &;
  padding-top: 60px;

  @screen md {
    padding-top: 120px;
  }

  &__list {
    @screen md {
      &::after {
        content: '';
        height: 600px;
        left: 0;
        right: 0;
        width: 100%;
        background: white;
        position: absolute;
        top: 115px;
        margin-left: -999999em;
        padding-left: 999999em;
        margin-right: -999999em;
        padding-right: 999999em;
        z-index: 10;
      }
    }
  }

  &__item {
    @apply flex;

    @screen xl {
      width: auto;
    }
  }

  &__content {
    max-width: 250px;
    @apply mx-auto;
  }

  &__iwrap {
    padding-bottom: 100%;

    @screen xl {
      width: 230px;
    }

    &:hover {
      #{ $self }__hover {
        transform: scale(1);

        &__content {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }
    }
  }

  &__icon {
    height: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @screen md {
      height: 65%;
    }
  }

  &__content {
    li {
      @apply text-sm;

      @screen xs {
        @apply text-base;
      }

      &:not(:last-child) {
        margin-bottom: 5px;

        @screen md {
          margin-bottom: 10px;
        }
      }
    }
  }
  
  &__hover {
    transform: scale(0);
    transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);

    &__content {
      position: relative;
      opacity: 0;
      visibility: hidden;
      transform: translateY(10px);
      transition: all 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    }
  }
}