// *----------------------------------*\
//  Components > News List Filter
// *----------------------------------*/

.c-news-list {
  &__filter {
    $self: &;

    // Select Category Filter
    &__filselect {
      width: calc(100% - 150px);
      min-height: 70px;
      @apply flex flex-wrap;

      .select2-container {
        width: 100% !important;
        @apply flex flex-wrap;

        .selection {
          @apply flex w-full;

          span {
            @apply flex;
          }
        }
      }

      .select2-container--focus {
        #{ $self } {
          &__cselectwrap {
            border: 0;
            outline: 1px dotted #212121;
            outline: 5px auto -webkit-focus-ring-color;
          }
        }
      }
    }

    &__cselectwrap {
      padding: 10px 65px 10px 20px;
      background-image: url('../images/icon-arrow-down.svg');
      background-size: 25px 15px;
      background-repeat: no-repeat;
      background-position: right 20px top 50%;
      @apply bg-slgray w-full;

      ul {
        padding: 0;
      }

      .select2-search {
        @apply flex h-full;

        &__field {
          @apply text-base font-sans;

          @screen xs {
            @apply text-lg;
          }

          @screen md {
            @apply text-2xl;
          }

          @screen xl {
            @apply text-2xl3;
          }
        }
      }

      .select2-selection {
        &__choice {
          @apply flex items-center bg-pdgray px-10 text-white text-xs;
          margin: 0 5px 5px 0;

          @screen xs {
            @apply text-base;
          }

          @screen md {
            @apply text-lg;
          }

          @screen xl {
            @apply text-2xl;
          }

          &__remove {
            color: $white !important;
            transition: all 0.2s ease-in-out;

            &:hover {
              opacity: 0.7;
            }
          }

          + .select2-search {
            height: inherit;
          }
        }
      }
    }

    &__cselectdropdown {
      border: 0;
      border-radius: 0;
      @apply bg-slgray;

      li {
        padding: 5px 20px;
        @apply text-xs;

        @screen md {
          @apply text-base;
        }

        @screen xl {
          @apply text-xl;
        }
      }
    }

    &__btnwrap {
      @apply w-full;

      @screen xs {
        width: 150px;
      }
    }

    &__btn {
      min-height: 70px;
      height: 100%;
    }

    // Input Search Filter
    &__search {
      &inputwrap {
        width: calc(100% - 64px);
        min-height: 70px;
      }

      &btnwrap {
        width: 65px;
      }

      &btn {
        @screen md {
          &:hover {
            @apply bg-plgray;

            svg {
              fill: $white;
            }
          }
        }
      }
    }
  }
}
