// *----------------------------------*\
//  Components > News List
// *----------------------------------*/

.c-news-list {
  padding: 60px 0;

  @screen md {
    padding: 130px 0;
  }

  &__img {
    height: 230px; // 64%
  }

  &__date {
    height: 90px;
    width: 90px;

    &--day {
      @apply text-2xl3;
      
      @screen md {
        font-size: 43px;
      }
    }
  }

  &__bottom {
    min-height: 300px;
    
    @screen md {
      min-height: 390px;
    }

    &--small {
      min-height: 120px;

      @screen md {
        min-height: 165px;
      }
    }
  }

  &__para {
    p {
      @apply mb-10;
    }
  }
}
