// *----------------------------------*\
//  Components > Newsletter
// *----------------------------------*/

.c-newsletter {
  &__top {
    padding-top: 22px;

    @screen xs {
      margin: 0 auto;
      width: calc(100% - 100px);
    }

    img {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__form {
    &__field {
      .field-validation-error {
        @apply absolute pin-l pin-r text-sm;
        top: 100%;
        color: $red;
      }
    }
  }
}