// *----------------------------------*\
//  Components > Pagination
// *----------------------------------*/

.c-pagination {
  &__link {
    svg {
      @apply relative;
      transition: all 0.2s cubic-bezier(0.77, 0, 0.175, 1);
    }

    a {
      @screen md {
        &:hover {
          @apply text-porange;
  
          svg {
            fill: #F5A231;
          }
        }
      }
    }
  }

  &__all {
    &__link {
      width: 36px;
      @apply flex flex-wrap;

      span {
        height: 8px;
        width: 8px;
        margin: 2px;
        transition: all 0.2s cubic-bezier(0.77, 0, 0.175, 1);
        @apply bg-pdgray;
      }

      @screen md {
        width: 48px;

        span {
          height: 12px;
          width: 12px;
        }
        
        &:hover {
          span {
            @apply bg-porange;
          }
        }
      }
    }
  }
}
