// *----------------------------------*\
//  Components > Partner Network
// *----------------------------------*/

.c-network {
  padding-top: 60px;
  
  @screen md {
    padding-top: 120px;
  }

  &-card {
    @screen xs {
      min-height: 480px;
    }

    &__img {
      height: 100px;
    }

    &__text {
      p {
        margin-bottom: 15px;
      }
    }
  }
}
