// *----------------------------------*\
//  Components > Recent Awards
// *----------------------------------*/

.c-recent-awards {
  $self: &;
  padding-top: 30px;

  @screen md {
    padding-top: 120px;
  }

  &__item {
    &:nth-child(-n+3) {
      @screen xs {
        padding-bottom: 20px;

        &::after {
          content: '';
          display: block;
          position: absolute;
          right: 15px;
          left: 15px;
          height: 1px;
          bottom: 0;
          @apply bg-slgray;
        }
      }
    }

    &:nth-last-child(-n+3) {
      @screen xs {
        padding-top: 20px;

        &::after {
          content: '';
          display: block;
          position: absolute;
          right: 15px;
          left: 15px;
          height: 1px;
          top: 0;
          @apply bg-slgray;
        }
      }
    }

    &:nth-child(3n+2) {
      #{ $self }__content {
        @screen xs {
          &::before,
          &::after {
            content: '';
            display: block;
            height: 100%;
            width: 2px;
            @apply bg-slgray;
            position: absolute;
            top: 0;
          }

          &::before {
            left: 0;
            margin-left: -1px;
          }

          &::after {
            right: 0;
            margin-right: -1px;
          }
        }
      }
    }
  }

  &__list {
    &--srow {
      #{ $self }__item {
        padding: 0;

        &::after {
          display: none;
        }
      }
    }
  }

  &__content {
    @screen xs {
      height: 100px;
    }
    
    @screen md {
      height: 165px;
    }
  }

  &__image {
    img {
      max-height: 100px;

      @screen md {
        max-height: 160px;
      }
    }
  }
}
