// *----------------------------------*\
//  Components > Resolife
// *----------------------------------*/

.c-resolife {
  padding: 60px 0;
  
  @screen md {
    padding: 120px 0;
  }

  &--footer {
    padding-top: 0;
    padding-bottom: 30px;

    @screen md {
      padding-bottom: 70px;
    }
  }
}
