// *----------------------------------*\
//  Components > Reso Slider
// *----------------------------------*/

.c-reso-mean {
  padding: 60px 0 80px;

  @screen md {
    padding: 90px 0 110px;
  }

  &_swrap {

  }

  &__slider {
    .c-vslider {
      &__texts {
        @apply text-left;
        padding: 0 30px;

        @screen md {
          padding: 0 70px;
        }

        @screen xl {
          padding: 0 130px;
        }
      }

      &__title {
        @apply font-normal pb-10 text-2xl2;

        @screen md {
          font-size: 50px;
        }
      }

      &__para {
        @apply text-lg;

        @screen md {
          @apply text-2xl;
        }
      }
    }
  }
}
