// *----------------------------------*\
//  Components > Search Results
// *----------------------------------*/

.c-search-result {
  $self: &;

  &--blog {
    padding: 60px 0 30px;

    @screen md {
      padding: 130px 0;
    }

    #{ $self } {
      &__item {
        &:not(:last-child) {
          @apply pb-30;

          @screen md {
            @apply pb-50;
          }
        }
      }
    }
  }

  &--generic {
    padding: 50px 0 60px;

    @screen md {
      padding: 110px 0 130px;
    }

    #{ $self } {
      &__item {
        &:not(:last-child) {
          @apply pb-30;

          @screen md {
            @apply pb-50;
          }
        }
      }
    }
  }
}
