// *----------------------------------*\
//  Components > Services Single
// *----------------------------------*/

.c-services-single {
  $self: &;

  &__image {
    padding-bottom: 60%;

    @screen md {
      align-self: stretch;
      padding: 0;
    }
  }

  &__content {
    @apply py-20 px-20;
    min-height: 200px;

    @screen md {
      min-height: 300px;
      margin: 45px 0;
      @apply py-20 px-40;
    }
  }

  &__texts {
  }

  &__title {
    &::after {
      content: '';
      height: 3px;
      top: 100%;
      @apply w-full block absolute pin-l bg-porange;
    }
  }

  &__para {
    margin-top: 20px;

    @screen md {
      margin-top: 10px;
    }
  }

  &__row {
    &:nth-child(odd) {
      #{ $self } {
        &__content {

        }
      }
    }

    &:nth-child(even) {
      #{ $self } {
        @screen md {
          &__image {
            order: 1;
          }

          &__content {
            @apply justify-end text-right;
          }
        }
      }
    }
  }
}
