// *----------------------------------*\
//  Components > Services
// *----------------------------------*/

@mixin transition {
  transition: all 0.2s ease-in-out;
}

.c-services {
  $self: &;

  padding-top: 60px;
  @screen md {
    padding-top: 120px;
  }

  &__block {
    @screen md {
      padding-bottom: 100%;
    }
  }

  &__content {
    @include transition;
  }

  &__image {
    margin-bottom: 15px;

    img {
     @include transition;
    }

    &--visible {
      max-height: 80px;

      @screen xl {
        max-height: 140px;
      }

      @screen md {
        max-height: 100px;
      }
    }

    &--hovered {
      max-height: 80px;

      @screen xl {
        max-height: 140px;
      }

      @screen md {
        max-height: 100px;
      }
    }
  }

  &__title {
    padding-top: 10px;
    padding-bottom: 10px;

    &::before,
    &::after {
      content: '';
      @apply absolute;
      left: 50%;      
      @include transition;
      transition-delay: 0.2s;
      height: 2px;
      width: calc(100% - 30px);

      @screen md {
        height: 3px;
        width: 175px;
      }
    }

    &::before {
      top: 0;
      transform: translateX(-50%) scale(1);
      @apply bg-porange;
    }

    &::after {
      bottom: 0;
      transform: translateX(-50%) scale(0);
      @apply bg-white;
    }
  }

  &__subtitle {
    top: 100%;
    @include transition;
    transition-delay: 0.3s;

    @screen md {
      transform: translateY(10px);
    }
  }

  &__block {
    @screen md {
      &:hover {
        #{ $self } {
          &__content {
            @apply bg-porange rounded-full;
          }

          &__image {
            &--visible {
              @apply opacity-0 invisible;
              max-height: 85px;
            }

            &--hovered {
              @apply opacity-100 visible;
              max-height: 85px;
            }
          }

          &__title {
            transform: translateY(-10px);
            @apply relative text-white;

            &::before {
              transform: translateX(-50%) scaleX(0);
            }

            &::after {
              transform: translateX(-50%) scaleX(1);
            }
          }

          &__subtitle {
            transform: translateY(0);
            @apply relative opacity-100 visible;
          }
        }
      }
    }
  }
}
