// *----------------------------------*\
//  Components > Solutions List
// *----------------------------------*/

.c-solutions {
  $self: &;
  margin-top: 60px;

  @screen md {
    margin-top: 130px;
  }

  &__wrap {
    @screen md {
      &:hover {
        #{ $self } {
          &__infos {
          }

          &__link {
            &__wrap {
              opacity: 1;
              visibility: visible;
              max-height: 43px;
            }
          }

          &__header {
            &::before {
              transform: scale(1);
            }
          }
        }
      }
    }
  }

  &__image {
    padding-bottom: 60%;

    @screen md {
      align-self: stretch;
      padding: 0;
    }
  }

  &__content {
    min-height: 200px;

    @screen md {
      min-height: 300px;
      margin: 45px 0;
    }
  }

  &__infos {
    transition: all .3s cubic-bezier(.77, 0, .175, 1);
  }

  &__header {
    &::before,
    &::after {
      content: '';
      height: 3px;
      top: 100%;
      @apply w-full block absolute pin-l bg-pdgray;
      transition: all .3s cubic-bezier(.77, 0, .175, 1);
    }

    &::before {
      transform: scaleX(0);
      transform-origin: left;
      @apply bg-porange z-10;
    }
  }

  &__logo {
    &__wrap {
      display: flex;
    }
  }

  &__title {
    @apply pt-10 text-2xl;

    @screen md {
      font-size: 40px;
      @apply pt-15;
    }
  }

  &__para {
    margin-top: 20px;

    @screen md {
      margin-top: 15px;
    }
  }

  &__link {
    letter-spacing: 2px;

    @screen md {
      letter-spacing: 5px;
    }

    &__wrap {
      @screen md {
        opacity: 0;
        visibility: hidden;
        max-height: 0;
        transition: all .3s cubic-bezier(.77, 0, .175, 1);
      }
    }
  }

  &__row {
    &:nth-child(odd) {
      #{ $self } {
        &__content {

        }
      }
    }

    &:nth-child(even) {
      @screen md {
        #{ $self } {
          &__image {
            order: 1;
          }

          &__infos {
            @apply justify-end text-right;
          }

          &__header {
            &::before {
              transform-origin: right;
            }
          }

          &__logo {
            &__wrap {
              justify-content: flex-end;
            }
          }

          &__link {
            &__wrap {
              justify-content: flex-end;
            }
          }
        }
      }
    }
  }
}
