// *----------------------------------*\
//  Components > Staff Slider
// *----------------------------------*/

.c-staff-slider {
  width: calc(100% - 26px);

  &__wrapper {
    padding-top: 60px;

    @screen md {
      padding-top: 120px;
    }
  }

  &__arrow {
    svg {
      width: 13px;
      height: 23px;
      display: block;
    }
  }

  &__slide {
    padding: 0 20px;

    @screen md {
      padding: 0 30px;
    }
  }

  &__top {
    margin-bottom: 15px;
    border-bottom: 3px solid #808285;
  }

  &__avatar {
    width: 180px;
    height: 180px;
  }

  &__title {
    margin-top: 15px;
    
    @screen md {
      margin-top: 25px;
    }
  }

  &__subtitle {
    padding: 15px 0;
    
    @screen md {
      padding: 10px 0;
    }
  }
}
