// *----------------------------------*\
//  Components > Team
// *----------------------------------*/

.c-team {
  $self: &;
  padding: 60px 0;
  margin-bottom: 0;

  @screen md {
    padding-top: 100px;
    margin-bottom: 130px;  
  }

  &--all {
    padding: 60px 0;
    margin-bottom: 0;

    @screen md {
      padding-top: 130px;
      margin-bottom: 50px;
    }

    #{ $self }__wrap {
      &::after {
        bottom: 230px;
      }
    }
  }

  &__wrap {
    &::after {
      content: '';
      @apply absolute w-full pin-l bg-slgray;
      top: 150px;
      bottom: 30px;

      @screen md {
        bottom: 37px;
      }
    }
  }

  &__info {
    max-width: 300px;

    @screen md {
      &:hover {
        #{ $self } {
          &__detail {
            transform: scale(1);
          }

          &__content {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
          }
        }
      }
    }
  }

  &__img {
    padding-bottom: 100%;
  }

  &__detail {
    @screen md {
      transform: scale(0);
      transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
      background: rgba(0, 0, 0, 0.7);
    }
  }

  &__content {
    @screen md {
      position: relative;
      opacity: 0;
      visibility: hidden;
      transform: translateY(10px);
      transition: all 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    }
  }

  &__name {
    &::after {
      content: '';
      display: block;
      height: 3px;
      width: 90px;
      margin: 5px auto;
      @apply bg-pdgray;

      @screen md {
        @apply bg-white;
      }
    }
  }

  &__social {
    svg {
      fill: $pdgray;
      transition: all 0.2s ease-in-out;

      @screen md {
        fill: $white;
      }
    }
    
    &:hover {
      svg {
        fill: #0077B5;
      }
    }
  }
}
