// *----------------------------------*\
//  Components > Testimonials
// *----------------------------------*/

.c-testimonials {
  padding: 60px 0;

  @screen md {
    padding: 100px 0 80px;
  }

  &__arrow {
    cursor: pointer;

    svg {
      width: 13px;
      height: 23px;
      display: block;
    }

    &:hover {
      opacity: 0.75;
    }
  }

  &__slider {
    width: calc(100% - 26px);
    padding: 0 15px;

    @screen md {
      padding: 0 60px;
    }

    @screen xl {
      padding: 0 120px;
    }
  }

  &__img {
    width: 190px;
    height: 190px;
  }

  &__text {
    @screen md {
      padding-left: 60px;
    }

    @screen xl {
      padding-left: 90px;
    }
  }
}
