// *----------------------------------*\
//  Components > Vertical Slider
// *----------------------------------*/

.c-vslider {
  $self: &;

  &__slider {
    height: 320px;

    @screen md {
      width: calc(100% - 18px);
    }

    .slick-list {
    }
  }

  &__slide {
    height: 320px;
    align-items: center;
  }

  &__content {
  }

  &__display {
    @apply font-bold text-porange absolute pin-l uppercase;
    opacity: 0.2;
    font-size: 250px;
    line-height: 1;

    @screen md {
      font-size: 400px;
      line-height: 300px;
    }

    img {
      width: 250px;
    }
  }

  &__para {
    @apply text-2xl3;

    @screen md {
      @apply text-4xl;
    }
  }

  &__dots {
    @screen md {
      width: 18px;
    }

    ul {
      list-style: none;
      padding: 0;
      display: flex;

      @screen md {
        width: 18px;
        flex-direction: column;
      }

      li {
        margin: 0 10px;

        @screen md {
          margin: 10px 0;
        }

        button {
          font-size: 0;
          height: 18px;
          width: 18px;
          border-radius: 50%;
          transition: all 0.3s ease-in-out;
          @apply bg-pdgray block;
          opacity: 0.25;

          &:hover {
            @apply opacity-100;
          }
        }

        &.slick-active {
          button {
            @apply bg-porange opacity-100;
          }
        }
      }
    }
  }
}
