// *----------------------------------*\
//  Components > Why Work
// *----------------------------------*/

.c-why-work {
  padding: 60px 0;

  @screen md {
    padding: 120px 0;
  }

  &__title {
    @screen md {
      padding-bottom: 100px;
    }
  }
}
