// *----------------------------------*\
//  Elements > Links
// *----------------------------------*/

a,
button {
  @apply no-underline;
  transition: all 0.2s ease-in-out;
}

svg {
  transition: all 0.2s ease-in-out;
}
